body{
    background-color: rgb(234, 255, 202);
}
h1{
    color: rgb(0, 78, 0);
}
#tabela{
    margin-top: 260px;
    background-color: rgb(253, 253, 253);
    height: 95%;
    width: 90%;
    border-radius: 20px;
}
.container-pai {
    display: flex; /* Ativa o Flexbox */
    justify-content: space-between; /* Espaça as caixas uniformemente */
    gap: 20px; /* Espaço entre as caixas */
    width: 90%;
    padding: 10px;
}

.caixa {
    flex: 1; /* Faz as caixas crescerem igualmente (tamanho igual) */
    background-color: #ffffff;
    border: 1px solid #ccc;
    padding: 20px;
    color: black;
    text-align: center;
}

#add{
    background-color: greenyellow;
    border-color: transparent;
    border-radius: 20px;
    color: whitesmoke;
    margin-top: 20px;
    font-weight: 900;
    font: bolder, 20pt 'Arial Black';
    height: 40px;
    width: 120px;
    -webkit-text-stroke-width: 0.3px; /* Largura leve */
    -webkit-text-stroke-color: rgb(0, 0, 0);
}
#motivos {
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
}

.item {
    padding: 10px;
    text-align: center;
    width: 90px;
    border-radius: 8px;
    margin-top: 5px;
    cursor: pointer;
    color: white;
    font-weight: bold;
}

/*Cores*/
.investimento {
    background-color: green;
}

.viagem {
    background-color: blue;
}

.casa {
    background-color: brown;
}

.compras {
    background-color: purple;
}
.carro {
    background-color: rgb(0, 125, 184);
}
.outro {
    background-color: rgb(145, 145, 145);
}

/*Aplica em todos*/
.item:hover {
    opacity: 0.8;
}